h1 {
    color: blue;
    color: yellowgreen;
}
p.home {
    font-size: 16px;
    line-height: 1.5;
    color: #444;
}

table {
    background-color: red;
}

table th {
    background-color:rebeccapurple;
}